[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "vendor/dropbox-js"]
	path = vendor/dropbox-js
	url = git://github.com/dropbox/dropbox-js.git
